<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="main.component.css">
</head>
<body>



  <div class="row-md-12" id="navMain">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Meus pedidos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../meu-catalogo/meu-catalogo.component.html">Meu Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../meus-produtos/meus-produtos.component.html">Meus Produtos</a>
          </li>
          <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
          <!--aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
          <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
      </div>
    </nav>


  </div>

  <div class="row" id="main">

    <div class="col-md-8" style="border: 2px red dotted">


        adsoqweob


    </div>

    <div class="col-md-4" style="border: 2px red dotted">

        adsoqweob

    </div>

  </div>



</body>
</html>


